<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.javaguitar.mapper.DocKeywordMapper">
    <select id="selectDocKeyword" parameterType="DocKeywordModel"
            resultType="DocKeywordModel">
        SELECT /* DocKeywordMapper.selectDocKeyword */ A.*,
           (SELECT COUNT(*) FROM QUIZ_DOCUMENT B WHERE A.KEYWORD = B.DOC_NAME) AS QUIZ_CNT
        FROM DOCUMENT_KEYWORD A
        WHERE DOC_NAME = #{doc_name}
        ORDER BY KEYWORD
    </select>
    <select id="selectDocKeywordCheck" resultType="java.lang.Integer">
        SELECT /* DocKeywordMapper.selectDocKeywordCheck  */ COUNT(*)
        FROM DOCUMENT_KEYWORD
        WHERE KEYWORD = #{keyword}
    </select>
    <select id="selectDocSearch" parameterType="String"
            resultType="DocKeywordModel">
        SELECT /* DocKeywordMapper.selectDocSearch */
               A.DOC_NAME,A.KEYWORD
        FROM (
                 SELECT A.DOC_NAME,A.KEYWORD,COUNT(*) AS CNT
                 FROM (SELECT * FROM DOCUMENT_KEYWORD
                       WHERE KEYWORD LIKE CONCAT('%',#{doc_name},'%')) A
                          LEFT OUTER JOIN QUIZ_DOCUMENT B
                                          ON A.DOC_NAME = B.DOC_NAME
                 GROUP BY A.DOC_NAME
             ) A ORDER BY A.CNT DESC,A.DOC_NAME ASC
    </select>
    <select id="selectDocName" parameterType="String"
            resultType="java.lang.String">
        SELECT /* DocKeywordMapper.selectDocName */
            A.DOC_NAME
        FROM DOCUMENT_KEYWORD A WHERE KEYWORD = #{keyword}
    </select>
    <insert id="insertDocKeyword" parameterType="DocKeywordModel">
		<![CDATA[
        INSERT INTO DOCUMENT_KEYWORD (DOC_NAME,
                                      KEYWORD)
        VALUES (#{doc_name},
            #{keyword})
        ]]>
	</insert>
    <update id="updateDocKeyword" parameterType="DocKeywordModel">
	<![CDATA[
        UPDATE
            DOCUMENT_KEYWORD
        SET DOC_NAME = #{keyword},
            KEYWORD = #{keyword}
        WHERE DOC_NAME = #{doc_name}
        ]]>
	</update>
    <delete id="deleteDocKeyword" parameterType="DocKeywordModel">
        DELETE FROM DOCUMENT_KEYWORD
        WHERE DOC_NAME = #{doc_name} AND KEYWORD = #{keyword}
    </delete>
    <delete id="deleteDocByKeyword" parameterType="DocKeywordModel">
        DELETE FROM DOCUMENT_KEYWORD
        WHERE DOC_NAME = #{doc_name}
    </delete>
</mapper>
