<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.javaguitar.mapper.DocKeywordMapper">
    <select id="selectDocKeyword" parameterType="DocKeywordModel"
            resultType="DocKeywordModel">
        SELECT A.*
        FROM DOCUMENT_KEYWORD A
        WHERE DOC_NAME = #{doc_name}
        ORDER BY KEYWORD
    </select>
    <select id="selectDocSearch" parameterType="String"
            resultType="DocKeywordModel">
        SELECT A.DOC_NAME,A.KEYWORD
        FROM DOCUMENT_KEYWORD A
        WHERE KEYWORD LIKE CONCAT('%',#{doc_name},'%')
    </select>
    <insert id="insertDocKeyword" parameterType="DocKeywordModel">
		<![CDATA[
        INSERT INTO DOCUMENT_KEYWORD (DOC_NAME,
                                      KEYWORD)
        VALUES (#{doc_name},
            #{keyword})
        ]]>
	</insert>
    <update id="updateDocKeyword" parameterType="DocKeywordModel">
	<![CDATA[
        UPDATE
            DOCUMENT_KEYWORD
        SET DOC_NAME = #{keyword},
            KEYWORD = #{keyword}
        WHERE DOC_NAME = #{doc_name}
        ]]>
	</update>
    <delete id="deleteDocKeyword" parameterType="DocKeywordModel">
        DELETE FROM DOCUMENT_KEYWORD
        WHERE DOC_NAME = #{doc_name} AND KEYWORD = #{keyword}
    </delete>
</mapper>
