<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.javaguitar.mapper.DocMapper">
    <select id="selectDocIndex" resultType="DocModel">
	  <![CDATA[

                SELECT DOC_NAME
                FROM DOCUMENT
                WHERE DOC_NAME <> 'index'
                AND MAIN_SHOW='Y'
                ORDER BY SORT_NUM

        ]]>
	</select>
    <select id="selectDoc" parameterType="String"
            resultType="DocModel">
        SELECT A.*
        FROM DOCUMENT A
        WHERE DOC_NAME = #{doc_name}
    </select>
    <select id="selectDocToDay"
            resultType="DocModel">
        SELECT DOC_NAME,MODIFY_DATE,
        (SELECT COUNT(*) FROM QUIZ_DOCUMENT B WHERE B.DOC_NAME =A.DOC_NAME ) AS QUIZ_CNT
        FROM DOCUMENT A WHERE (DATE_FORMAT(CREATE_DATE,'%Y-%m') = DATE_FORMAT(CONCAT(#{doc_month},'01'),'%Y-%m')
            OR DATE_FORMAT(MODIFY_DATE,'%Y-%m') = DATE_FORMAT(CONCAT(#{doc_month},'01'),'%Y-%m')) AND MAIN_SHOW = 'N'
            ORDER BY MODIFY_DATE DESC
    </select>
    <update id="updateDoc" parameterType="DocModel">
	<![CDATA[

                UPDATE
                    DOCUMENT
                SET DOC_CONTENT = #{doc_content},
                    RANKINGS = #{rankings},
                    MODIFY_DATE = now()
                WHERE DOC_NAME = #{doc_name}

        ]]>
	</update>
    <delete id="deleteDoc" parameterType="DocModel">
        DELETE FROM DOCUMENT
        WHERE DOC_NAME = #{doc_name}
    </delete>
    <delete id="deleteDocbyQuiz" parameterType="DocModel">
        DELETE FROM QUIZ_DOCUMENT
        WHERE DOC_NAME = #{doc_name}
    </delete>
    <update id="updateDocLevel" parameterType="DocModel">
	<![CDATA[

                UPDATE
                    DOCUMENT
                SET DOC_LEVEL = #{doc_level},
                    MODIFY_DATE = now()
                WHERE DOC_NAME = #{doc_name}

        ]]>
	</update>
    <update id="updateUpperDocName" parameterType="DocModel">
	<![CDATA[

                UPDATE
                    DOCUMENT
                SET UPPER_DOC_NAME = #{upper_doc_name},
                    MODIFY_DATE = now()
                WHERE DOC_NAME = #{doc_name}

        ]]>
	</update>
    <update id="updateNewDocName" parameterType="DocModel">
	<![CDATA[

                UPDATE
                    DOCUMENT
                SET DOC_NAME = #{new_doc_name},
                    MODIFY_DATE = now()
                WHERE DOC_NAME = #{doc_name}

        ]]>
	</update>
    <update id="updateDocMemo" parameterType="DocModel">
	<![CDATA[

                UPDATE
                    DOCUMENT
                SET MEMO = #{memo}, MANAGER = #{manager},
                    MODIFY_DATE = now()
                WHERE DOC_NAME = #{doc_name}

        ]]>
	</update>
    <update id="updateNewDocNameQuiz" parameterType="DocModel">
	<![CDATA[

                UPDATE
                    QUIZ_DOCUMENT
                SET DOC_NAME = #{new_doc_name}
                WHERE DOC_NAME = #{doc_name}

        ]]>
	</update>
    <select id="selectDocCheck" resultType="java.lang.Integer">
        SELECT /* DocMapper.selectDocCheck  */ COUNT(*)
        FROM DOCUMENT
        WHERE DOC_NAME = #{doc_name}
    </select>
    <insert id="insertDoc" parameterType="DocModel">
		<![CDATA[

                INSERT INTO DOCUMENT (DOC_NAME,
                                      UPPER_DOC_NAME,
                                      SORT_NUM,
                                      DOC_CONTENT,
                                      CREATE_DATE,
                                      MODIFY_DATE)
                VALUES (#{doc_name},
                        #{upper_doc_name}
                           , 1,
                        '',
                        now(), now())

        ]]>
	</insert>
</mapper>
