<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.javaguitar.mapper.EnglishMapper">
    <select id="selectEnglish" resultType="EnglishModel">
        SELECT A.* FROM ENGLISH A WHERE VIEW_YN='Y' ORDER BY RAND() LIMIT 1
    </select>

    <select id="selectEnglishEdit" parameterType="EnglishModel"
            resultType="EnglishModel">
        SELECT A.* FROM ENGLISH A WHERE ONEWORD=#{oneword}
    </select>

    <select id="selectEnglishList" parameterType="int"
            resultType="EnglishModel">
        SELECT A.* FROM ENGLISH A ORDER BY WDATE DESC
    </select>

    <insert id="insertEnglish" parameterType="EnglishModel">
        <![CDATA[
			INSERT INTO ENGLISH(
						  ONEWORD,EXAMPLES,EXAMPLES_SRC,DESCRIPT,IMG_SRC,WDATE
					) VALUES (
					   #{oneword},
					   #{examples},
					   #{examples_src},
					   #{descript},
					   #{img_src},
					   now()
					)
		]]>
    </insert>
    <update id="updateEnglish" parameterType="EnglishModel">
        <![CDATA[
		UPDATE 
		ENGLISH
		SET
			EXAMPLES = #{examples},
			EXAMPLES_SRC = #{examples_src},
			DESCRIPT = #{descript},
			NAVER_SRC = #{naver_src},
			IMG_SRC = #{img_src},
			VIEW_YN = #{view_yn}
		WHERE ONEWORD = #{oneword}
	]]>
    </update>
    <update id="updateViewYn" parameterType="EnglishModel">
        <![CDATA[
		UPDATE
		ENGLISH
		SET
			VIEW_YN = 'N'
		WHERE ONEWORD = #{oneword}
	]]>
    </update>

</mapper>
