<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.javaguitar.mapper.QuizDocumentMapper">
    <select id="selectQuizDocumentListByQuiz" parameterType="QuizDocumentModel" resultType="QuizDocumentModel">
        SELECT A.*
        FROM QUIZ_DOCUMENT A
        WHERE A.DOC_CODE = #{doc_code}
          AND A.QUIZ_NUMBER = #{quiz_number}
    </select>
    <select id="selectQuizDocumentListByDoc" parameterType="QuizDocumentModel" resultType="QuizModel">
        <![CDATA[SELECT A.DOC_CODE,A.QUIZ_NUMBER,FNC_COMMON_CODE(B.QUIZ_SOURCE) AS QUIZ_SOURCE_NAME, B.QUIZ_ORG_NUMBER,
               FNC_COMMON_CODE(B.QUIZ_LEVEL) AS QUIZ_LEVEL_NAME,
               FNC_COMMON_CODE(B.PATTERN_CODE) AS PATTERN_CODE_NAME,
               FNC_DOC_CATEGORY(B.DOC_CODE) AS DOC_CODE_NAME,
        (SELECT COUNT(*) AS CNT FROM QUIZ_STAT C  WHERE DOC_CODE=A.DOC_CODE AND QUIZ_NUMBER = A.QUIZ_NUMBER
        AND SUCCESS_YN <> 'Y')  SUCCESS_N,
        (SELECT COUNT(*) AS CNT FROM QUIZ_STAT C WHERE DOC_CODE=A.DOC_CODE AND QUIZ_NUMBER = A.QUIZ_NUMBER
        AND SUCCESS_YN = 'Y') SUCCESS_Y,
        (SELECT COUNT(*) AS CNT FROM QUIZ_STAT C WHERE DOC_CODE=A.DOC_CODE AND QUIZ_NUMBER = A.QUIZ_NUMBER
         AND quiz_date = date_format(curdate(),'%Y-%m-%d')) TODAY_YN -- 오늘 푼 문제
        FROM QUIZ_DOCUMENT A, QUIZ B
        WHERE A.DOC_NAME = #{doc_name}
          AND A.DOC_CODE = B.DOC_CODE
          AND A.QUIZ_NUMBER = B.QUIZ_NUMBER
        ORDER BY QUIZ_SOURCE_NAME DESC, CAST(B.QUIZ_NUMBER AS INTEGER) DESC
        ]]>
    </select>
    <select id="selectQuizDocumentCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM QUIZ_DOCUMENT A
        WHERE A.DOC_NAME = #{doc_name}
    </select>
    <insert id="insertQuizDocument" parameterType="QuizDocumentModel">
		<![CDATA[
        INSERT INTO QUIZ_DOCUMENT( DOC_NAME
                                 , DOC_CODE
                                 , QUIZ_NUMBER)
        VALUES ( #{doc_name}
               , #{doc_code}
               , #{quiz_number})
        ]]>
	</insert>
    <delete id="deleteQuizDocument" parameterType="QuizDocumentModel">
        DELETE FROM QUIZ_DOCUMENT
        WHERE DOC_NAME = #{doc_name}
          AND DOC_CODE = #{doc_code}
          AND QUIZ_NUMBER = #{quiz_number}
    </delete>

</mapper>
