<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.javaguitar.mapper.QuizStatMapper">
    <select id="selectQuizStatList" parameterType="QuizStatModel"
            resultType="QuizStatModel">
        SELECT *
        FROM QUIZ_STAT A
        WHERE QUIZ_DATE = #{quiz_date}
        ORDER BY QUIZ_SEQ DESC
    </select>
    <select id="selectQuizStatCnt" parameterType="QuizStatModel"
            resultType="int">
        SELECT COUNT(*)
        FROM QUIZ_STAT A
        WHERE QUIZ_DATE = #{quiz_date}
          AND DOC_CODE = #{doc_code}
		      AND QUIZ_NUMBER = #{quiz_number}
    </select>
    <select id="selectQuizSuccessRate" parameterType="QuizStatModel"
            resultType="QuizStatModel">
        <![CDATA[
        SELECT SUCCESS.CNT AS SUCCESS_CNT,FAIL.CNT AS FAIL_CNT,TIMES.QUIZ_TIMES,
        ROUND(SUCCESS.CNT/(SUCCESS.CNT+FAIL.CNT)*100,2) AS SUCCESS_RATE FROM
        (SELECT COUNT(*) AS CNT FROM QUIZ_STAT  WHERE DOC_CODE=#{doc_code} AND QUIZ_NUMBER = #{quiz_number}
        AND SUCCESS_YN <> 'Y')  FAIL,
        (SELECT COUNT(*) AS CNT FROM QUIZ_STAT  WHERE DOC_CODE=#{doc_code} AND QUIZ_NUMBER = #{quiz_number}
        AND SUCCESS_YN = 'Y') SUCCESS,
        (SELECT /* QuizStatMapper.selectAvgQuizTimes */
            ROUND(AVG(QUIZ_TIMES),2) AS QUIZ_TIMES
        FROM QUIZ_STAT A
        WHERE DOC_CODE = #{doc_code}
          AND QUIZ_NUMBER = #{quiz_number}
          AND QUIZ_TIMES  <> 0) TIMES
        ]]>
    </select>

    <insert id="insertQuizStat" parameterType="QuizStatModel">
		<![CDATA[
        INSERT INTO QUIZ_STAT(QUIZ_DATE,
                              DOC_CODE,
                              QUIZ_NUMBER,
                              QUIZ_SEQ,
                              QUIZ_NUM,
                              SUCCESS_YN,
                              QUIZ_TIMES,
                              CREATE_DATE)
        VALUES ( date_format(NOW(), '%Y%m%d')
               , #{doc_code}
               , #{quiz_number}
               , #{quiz_seq}
               , 1
               , #{success_yn}
               , #{quiz_times}
               , now())
        ]]>
	</insert>
    <update id="updateQuizStat" parameterType="QuizStatModel">
	<![CDATA[
        UPDATE
            QUIZ_STAT
        SET SUCCESS_YN= #{success_yn}
        WHERE QUIZ_DATE = #{quiz_date}
          AND DOC_CODE = #{doc_code}
		      AND QUIZ_NUMBER = #{quiz_number}
        ]]>
	</update>
    <select id="selectMaxQuizStatSeq" resultType="java.lang.Integer"  parameterType="QuizStatModel">
        SELECT /*
		QuizStatMapper.selectMaxQuizStatSeq */
            IFNULL(MAX(QUIZ_SEQ), 0)+1 FROM
                   QUIZ_STAT WHERE QUIZ_DATE = #{quiz_date}
    </select>

</mapper>
