<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.javaguitar.mapper.QuizDocumentMapper">
    <select id="selectQuizDocumentListByQuiz" parameterType="QuizDocumentModel" resultType="QuizDocumentModel">
        SELECT A.*
        FROM QUIZ_DOCUMENT A
        WHERE A.DOC_CODE = #{doc_code}
          AND A.QUIZ_NUMBER = #{quiz_number}
    </select>
    <select id="selectQuizDocumentListByDoc" parameterType="QuizDocumentModel" resultType="QuizDocumentModel">
        SELECT A.*
        FROM QUIZ_DOCUMENT A
        WHERE A.DOC_NAME = #{doc_name}
    </select>
    <insert id="insertQuizDocument" parameterType="QuizDocumentModel">
		<![CDATA[
        INSERT INTO QUIZ_DOCUMENT( DOC_NAME
                                 , DOC_CODE
                                 , QUIZ_NUMBER)
        VALUES ( #{doc_name}
               , #{doc_code}
               , #{quiz_number})
        ]]>
	</insert>
    <delete id="deleteQuizDocument" parameterType="QuizDocumentModel">
        DELETE FROM QUIZ_DOCUMENT
        WHERE DOC_NAME = #{doc_name}
          AND DOC_CODE = #{doc_code}
          AND QUIZ_NUMBER = #{quiz_number}
    </delete>

</mapper>
