<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.javaguitar.mapper.StatMapper">
    <select id="selectQuizCount" resultType="StatModel">
	  <![CDATA[
		SELECT FORMAT(CURRENT_COUNT, 0) AS CURRENT_COUNT, FORMAT(TOTAL_COUNT, 0) AS TOTAL_COUNT,
			   FORMAT(DOC_QUIZ_COUNT, 0) AS DOC_COUNT,FORMAT(NO_ANSWER_COUNT, 0) AS NO_ANSWER_COUNT
		FROM (SELECT COUNT(*) AS TOTAL_COUNT FROM QUIZ) A,
			 (SELECT COUNT(*) AS CURRENT_COUNT FROM QUIZ WHERE DATE_FORMAT(CREATE_DATE, "%Y-%m-%d") = CURDATE()) B,
			 (SELECT COUNT(*) AS DOC_QUIZ_COUNT FROM QUIZ A WHERE NOT EXISTS (SELECT * FROM QUIZ_DOCUMENT B
																			  WHERE B.DOC_CODE = A.DOC_CODE AND B.QUIZ_NUMBER = A.QUIZ_NUMBER)) C,
			 (SELECT
				  COUNT(*) AS NO_ANSWER_COUNT
			  FROM
				  QUIZ A WHERE NOT EXISTS (SELECT * FROM QUIZ_STAT B WHERE B.DOC_CODE = A.DOC_CODE
																	   AND B.QUIZ_NUMBER  =A.QUIZ_NUMBER)) D
		]]>
	</select>
    <select id="selectDocCount" resultType="StatModel">
	  <![CDATA[
        SELECT FORMAT(CURRENT_COUNT, 0) AS CURRENT_COUNT, FORMAT(TOTAL_COUNT, 0) AS TOTAL_COUNT
        FROM (SELECT COUNT(*) AS TOTAL_COUNT FROM DOCUMENT) A,
             (SELECT COUNT(*) AS CURRENT_COUNT FROM DOCUMENT WHERE DATE_FORMAT(CREATE_DATE, "%Y-%m-%d") = CURDATE()) B
        ]]>
	</select>
    <select id="selectQuizAnswerCount" resultType="StatModel">
	  <![CDATA[
        SELECT FORMAT(TOTAL_COUNT, 0)   AS TOTAL_COUNT,
               FORMAT(CURRENT_COUNT, 0) AS CURRENT_COUNT,
               FORMAT(FAULT_COUNT, 0)   AS FAULT_COUNT
        FROM (SELECT COUNT(*) AS TOTAL_COUNT FROM QUIZ_STAT WHERE DATE_FORMAT(QUIZ_DATE, "%Y-%m-%d") = CURDATE()) A,
             (SELECT COUNT(*) AS CURRENT_COUNT
              FROM QUIZ_STAT
              WHERE DATE_FORMAT(QUIZ_DATE, "%Y-%m-%d") = CURDATE()
                AND SUCCESS_YN = 'Y') B,
             (SELECT COUNT(*) AS FAULT_COUNT
              FROM QUIZ_STAT
              WHERE DATE_FORMAT(QUIZ_DATE, "%Y-%m-%d") = CURDATE() AND SUCCESS_YN <> 'Y') C
        ]]>
	</select>
    <select id="selectQuizAnswerRatio" resultType="StatModel">
	<![CDATA[
        SELECT FORMAT(TOTAL_COUNT, 0)                      AS TOTAL_COUNT,
               FORMAT(CURRENT_COUNT, 0)                    AS CURRENT_COUNT,
               ROUND(CURRENT_COUNT / TOTAL_COUNT * 100, 2) AS FAULT_COUNT
        FROM (SELECT COUNT(*) AS TOTAL_COUNT FROM QUIZ_STAT) A,
             (SELECT COUNT(*) AS CURRENT_COUNT FROM QUIZ_STAT WHERE SUCCESS_YN = 'Y') B
        ]]>
	</select>
</mapper>
