<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}" lang="ko">
<head>
    <title>문제목록</title>
<style>
    a:link { text-decoration: none; }
    table {
        font-size: 14px;
    }
</style></head>
<body>
<div layout:fragment="content" class="content">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">출처</span> <select
            class="form-select" aria-label="출처1" th:name="quiz_source"
            th:id="quiz_source">
        <option th:each="src:${srcCodeList}" th:value="${src.code_id}"
                th:selected="${src.code_id} == ${session.quiz_source}"
                th:utext="${src.code_name}"></option>
    </select>
        <button class="btn btn-outline-secondary" type="button"
                id="srcSelector" onclick="moveSource()">선택
        </button>&nbsp;
        <button class="btn btn-outline-warning" type="button"
                id="srcRegister" onclick="moveRegister()">등록
        </button> &nbsp;
        <button class="btn btn-outline-info" type="button"
                id="srcRegister" onclick="moveChkList()">T
        </button>&nbsp;<button class="btn btn-outline-info" type="button"
                               id="srcZzz" onclick="moveZzzList()">Z
    </button>&nbsp;
        <button type="button" class="btn btn-outline-danger" onclick="location.href='/quiz/all_list'">퀴즈전체</button>&nbsp;
        <button type="button" class="btn btn-outline-dark" onclick="location.href='/sys/index'">코드</button>&nbsp;
        <button type="button" class="btn btn-outline-secondary" onclick="location.href='/quiz/keyword_list'">토픽</button>&nbsp;
        <button type="button" class="btn btn-outline-secondary" onclick="location.href='/doc/memory/list'">암기</button>&nbsp;
        <a th:href="@{'/quiz/date/'+${#calendars.format(#calendars.createNow(),'yyyy-MM-dd')}}">
            <button type="button" class="btn btn-outline-secondary">어제</button>
        </a> &nbsp;
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" id="quiz_title" placeholder="Search..."
                   aria-label="Search">
        </form>
        <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2" onclick="moveSearch()">검색</button>
        </div>
    </div>
    <div style="width:20%;float:left;" class="div_quiz">
        <span class="d-block p-2 bg-primary text-white">감리</span>
        <table class="table table-dark">
            <tbody>
            <tr th:each="quizList : ${quizList}" th:if="${quizList.doc_code}==2">
                <td>
                    <a class="link-light" target="_blank"
                       th:if="${quizList.success_y <= quizList.success_n} and ${quizList.success_n} > 0" style="color:red"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    <a class="link-light" target="_blank"
                       th:if="${quizList.success_y > quizList.success_n}"  style="color:blue"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    <a class="link-light" target="_blank"
                       th:if="${quizList.success_y}==0 and ${quizList.success_n}==0 " style="color:green"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    <a class="link-light" target="_blank"
                                   th:href="'/quiz/edit/'+${quizList.doc_code}+'/'+${quizList.quiz_number}"><span th:text="'['+ ${quizList.success_y}+':'+${quizList.success_n}+'] (' +${quizList.quiz_level}+')'"></span></a>
                    <span th:if="${quizList.today_yn > 0}">🟢</span>
                    &nbsp;<a href="#" th:onclick="quiz_tomorrow([[${quizList.doc_code}]],[[${quizList.quiz_number}]])"><span>x</span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="width:16%;float:left;" class="div_quiz">
        <span class="d-block p-2 bg-warning text-white">사업관리</span>
        <table class="table table-dark">
            <tbody>
            <tr th:each="quizList : ${quizList}" th:if="${quizList.doc_code}==3">
                <td>
                    <a class="link-light" target="_blank"
                       th:if="${quizList.success_y <= quizList.success_n} and ${quizList.success_n} > 0" style="color:red"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    <a class="link-light" target="_blank"
                       th:if="${quizList.success_y > quizList.success_n}"  style="color:blue"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    <a class="link-light" target="_blank"
                       th:if="${quizList.success_y}==0 and ${quizList.success_n}==0 " style="color:green"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    &nbsp;&nbsp;<a class="link-light" target="_blank"
                                   th:href="'/quiz/edit/'+${quizList.doc_code}+'/'+${quizList.quiz_number}"><span th:text="'['+ ${quizList.success_y}+':'+${quizList.success_n}+'] (' +${quizList.quiz_level}+')'"></span></a>
                    <span th:if="${quizList.today_yn > 0}">🟢</span>
                    &nbsp;<a href="#" th:onclick="quiz_tomorrow([[${quizList.doc_code}]],[[${quizList.quiz_number}]])"><span>x</span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="width:16%;float:left;" class="div_quiz">
        <span class="d-block p-2 bg-secondary text-white">소공</span>
        <table class="table table-dark">
            <tbody>
            <tr th:each="quizList : ${quizList}" th:if="${quizList.doc_code}==4">
                <td><a class="link-light" target="_blank"
                       th:if="${quizList.success_y <= quizList.success_n} and ${quizList.success_n} > 0" style="color:red"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    <a class="link-light" target="_blank"
                       th:if="${quizList.success_y > quizList.success_n}"  style="color:blue"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    <a class="link-light" target="_blank"
                       th:if="${quizList.success_y}==0 and ${quizList.success_n}==0 " style="color:green"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    &nbsp;<a class="link-light" target="_blank"
                             th:href="'/quiz/edit/'+${quizList.doc_code}+'/'+${quizList.quiz_number}"><span th:text="'['+ ${quizList.success_y}+':'+${quizList.success_n}+'] (' +${quizList.quiz_level}+')'"></span></a>
                    <span th:if="${quizList.today_yn > 0}">🟢</span>
                    &nbsp;<a href="#" th:onclick="quiz_tomorrow([[${quizList.doc_code}]],[[${quizList.quiz_number}]])"><span>x</span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="width:16%;float:left;">
        <span class="d-block p-2 bg-success text-white">DB</span>
        <table class="table table-dark">
            <tbody>
            <tr th:each="quizList : ${quizList}" th:if="${quizList.doc_code}==5">
                <td><a class="link-light" target="_blank"
                       th:if="${quizList.success_y <= quizList.success_n} and ${quizList.success_n} > 0" style="color:red"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    <a class="link-light" target="_blank"
                       th:if="${quizList.success_y > quizList.success_n}"  style="color:blue"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    <a class="link-light" target="_blank"
                       th:if="${quizList.success_y}==0 and ${quizList.success_n}==0 " style="color:green"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    <a class="link-light" target="_blank"
                       th:href="'/quiz/edit/'+${quizList.doc_code}+'/'+${quizList.quiz_number}"><span th:text="'['+ ${quizList.success_y}+':'+${quizList.success_n}+'] (' +${quizList.quiz_level}+')'"></span></a>
                    <span th:if="${quizList.today_yn > 0}">🟢</span>
                    &nbsp;<a href="#" th:onclick="quiz_tomorrow([[${quizList.doc_code}]],[[${quizList.quiz_number}]])"><span>x</span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="width:16%;float:left;">
        <span class="d-block p-2 bg-danger text-white">시구</span>
        <table class="table table-dark">
            <tbody>
            <tr th:each="quizList : ${quizList}" th:if="${quizList.doc_code}==6">
                <td><a class="link-light" target="_blank"
                       th:if="${quizList.success_y <= quizList.success_n} and ${quizList.success_n} > 0" style="color:red"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    <a class="link-light" target="_blank"
                       th:if="${quizList.success_y > quizList.success_n}"  style="color:blue"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    <a class="link-light" target="_blank"
                       th:if="${quizList.success_y}==0 and ${quizList.success_n}==0 " style="color:green"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    <a class="link-light" target="_blank"
                       th:href="'/quiz/edit/'+${quizList.doc_code}+'/'+${quizList.quiz_number}"><span th:text="'['+ ${quizList.success_y}+':'+${quizList.success_n}+'] (' +${quizList.quiz_level}+')'"></span></a>
                    <span th:if="${quizList.today_yn > 0}">🟢</span>
                    &nbsp;<a href="#" th:onclick="quiz_tomorrow([[${quizList.doc_code}]],[[${quizList.quiz_number}]])"><span>x</span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="width:16%;float:left;">
        <span class="d-block p-2 bg-warning text-white">보안</span>
        <table class="table table-dark">
            <tbody>
            <tr th:each="quizList : ${quizList}" th:if="${quizList.doc_code}==7">
                <td><a class="link-light" target="_blank"
                       th:if="${quizList.success_y <= quizList.success_n} and ${quizList.success_n} > 0" style="color:red"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    <a class="link-light" target="_blank"
                       th:if="${quizList.success_y > quizList.success_n}"  style="color:blue"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    <a class="link-light" target="_blank"
                       th:if="${quizList.success_y}==0 and ${quizList.success_n}==0 " style="color:green"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:utext="${quizList.quiz_org_number}+') '+${quizList.category_name}"></a>
                    &nbsp;<a class="link-light" target="_blank"
                             th:href="'/quiz/edit/'+${quizList.doc_code}+'/'+${quizList.quiz_number}"><span th:text="'['+ ${quizList.success_y}+':'+${quizList.success_n}+'] (' +${quizList.quiz_level}+')'"></span></a>
                    <span th:if="${quizList.today_yn > 0}">🟢</span>
                    &nbsp;<a href="#" th:onclick="quiz_tomorrow([[${quizList.doc_code}]],[[${quizList.quiz_number}]])"><span>x</span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javaScript">
        let quiz_tomorrow = function (doc_code,quiz_number) {
            $.ajax({
                type: "POST",
                url: "/quiz_tomorrow_delete",
                beforeSend: function (jqXHR, settings) {
                    let header = $("meta[name='_csrf_header']").attr("content");
                    let token = $("meta[name='_csrf']").attr("content");
                    jqXHR.setRequestHeader(header, token);
                },
                data: {
                    "doc_code": doc_code,
                    "quiz_number": quiz_number
                },
                success: function () {
                    document.location.reload();
                }, error: function () {
                    toastAlert('저장 실패', 1);
                }
            });
        }
        let moveSource = function () {
            let quiz_source = $("#quiz_source option:selected").val();
            document.location.href = "/quiz/list/" + quiz_source;
        }
        let moveRegister = function () {
            document.location.href = "/quiz/write";
        }
        let moveChkList = function () {
            document.location.href = "/quiz/chk_list";
        }
        let moveZzzList = function () {
            document.location.href = "/quiz/zzz_list";
        }
        let moveSearch = function () {

            location.href = "/quiz/search/" + ($("#quiz_title").val());
        }
        let date_move = function (iDay) {
            const protocol = window.location.protocol +"//";

            const host = window.location.host
            let cUrl = window.location.href;
            const arr  = cUrl.split('/');
            const cDate = arr[arr.length - 1];
            let wade = StringToDate(cDate,iDay);
            let leftUrl = "";
            for(let j=2;j < arr.length-1;j++) {
                if (j > 2) {
                    leftUrl = leftUrl +"/"+ arr[j];
                }
            }
            document.location.href = (protocol+host+leftUrl+"/"+wade);
        }
        let date_next = function () {
            alert(window.location.href);
        }
        let StringToDate = function(date, n) {
            let yyyy = date.substring(0, 4);
            let mm = date.substring(5, 7);
            let dd = date.substring(8, 10);
            mm = Number(mm) - 1;

            let stringNewDate = new Date(yyyy, mm, dd);
            stringNewDate.setDate(stringNewDate.getDate() + n);

            return stringNewDate.getFullYear() +
                "-" + ((stringNewDate.getMonth() + 1) > 9 ? (stringNewDate.getMonth() + 1).toString() : "0" + (stringNewDate.getMonth() + 1)) +
                "-" + (stringNewDate.getDate() > 9 ? stringNewDate.getDate().toString() : "0" + stringNewDate.getDate().toString());
        }

    </script>
</div>
</body>

</html>