<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}" lang="ko">
<head>
    <title>문제목록</title>
<body>
<div layout:fragment="content" class="content">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">출처</span> <select
            class="form-select" aria-label="출처1" th:name="quiz_source"
            th:id="quiz_source">
        <option th:each="src:${srcCodeList}" th:value="${src.code_id}"
                th:selected="${src.code_id} == ${session.quiz_source}"
                th:utext="${src.code_name}"></option>
    </select>
        <button class="btn btn-outline-secondary" type="button"
                id="srcSelector" onclick="moveSource()">선택
        </button>&nbsp;
        <button class="btn btn-outline-warning" type="button"
                id="srcRegister" onclick="moveRegister()">신규등록
        </button> &nbsp;
        <button type="button" class="btn btn-outline-danger" onclick="location.href='/quiz/all_list'">전체목록</button>
        <button type="button" class="btn btn-outline-dark" onclick="location.href='/sys/index'">코드관리</button>
        <button type="button" class="btn btn-outline-secondary" onclick="location.href='/quiz/keyword_list'">키워드</button>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" id="quiz_title" placeholder="Search..."
                   aria-label="Search">
        </form>
        <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2" onclick="moveSearch()">검색</button>
        </div>
    </div>
    <div style="width:100%;float:left;">
        <table class="table table-dark">
            <tbody>
            <tr><td style="text-align: center;background-color: #0a53be">문서명</td>
            <td style="text-align: center;background-color: #0a53be">문제수</td>
            <td style="text-align: center;background-color: #0a53be">성공</td>
            <td style="text-align: center;background-color: #0a53be">실패</td>
            <td style="text-align: center;background-color: #0a53be">성공율</td></tr>
            <tr th:each="keywordList,i : ${keywordList}">
                <td style="text-align: center"><a style="cursor:pointer" th:onclick="doc_name_move([[${keywordList.doc_name}]])"><span th:text="${keywordList.doc_name}"></span></a></td>
                <td style="text-align: center" th:text="${keywordList.total_cnt}"></td>
                <td style="text-align: center" th:text="${keywordList.success_cnt}"></td>
                <td style="text-align: center" th:text="${keywordList.fail_cnt}"></td>
                <td style="text-align: center" th:text="${keywordList.success_rate}+'%'"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javaScript">
        //keyword 열기
        let doc_name_move = function(keyword){
            $.ajax({
                type: "POST",
                url: "/doc_keyword/search_keyword",
                beforeSend: function (jqXHR, settings) {
                    let header = $("meta[name='_csrf_header']").attr("content");
                    let token = $("meta[name='_csrf']").attr("content");
                    jqXHR.setRequestHeader(header, token);
                },
                data: {
                    "keyword": keyword
                },
                success: function (doc_name) {
                    window.open("/doc/"+doc_name);
                }, error: function () {
                    alert("error : "+ error);
                }
            });
        }

    </script>
</div>
</body>

</html>