<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}" lang="ko">
<head>
    <title th:text="${doc_name}+': 문제'">page title</title>
<body>
<div layout:fragment="content" class="content">
    <div class="doc_title">
        <h1><span th:utext="':: '+${doc_name}"></span>
            <span th:text="' (성공율: '+${quizStatModel.getSuccess_rate()}+'% / T:'+${quizStatModel.getTotal_cnt()}+' / S:'+${quizStatModel.getSuccess_cnt()}+' / F:'
            +${quizStatModel.getFail_cnt()}+')'"></span>
        </h1>
    </div>

    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col" style="background-color: #0a53be; text-align: center;">No</th>
            <th scope="col" style="background-color: #0a53be">출처</th>
            <th scope="col" style="background-color: #0a53be">(성공:실패) 번호</th>
            <th scope="col" style="background-color: #0a53be">메모</th>
            <th scope="col" style="background-color: #0a53be; text-align: center;">문제패턴</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="quizList,index : ${quizList}">
            <th style="text-align: center" scope="row" th:text="${index.index+1}">1</th>
            <td><span th:if="${#strings.contains(quizList.quiz_source_name,'감리')}" style="color:orange" th:text="${quizList.quiz_source_name}"></span>
                <span th:unless="${#strings.contains(quizList.quiz_source_name,'감리')}" th:text="${quizList.quiz_source_name}"></span>
            </td>
            <td>
                <th:block th:switch="${quizList.quiz_level_name}">
                    <span th:case="1">&nbsp;&nbsp;&nbsp;</span>
                    <span th:case="2" style="color:lightpink">2️⃣</span>
                    <span th:case="3" style="color:lightpink">3️⃣</span>
                    <span th:case="4" style="color:lightpink">4️⃣</span>
                    <span th:case="5" style="color:lightpink">5️⃣</span>
                </th:block>
                <span th:if="${quizList.pattern_code_name == '예외처리'}" style="color:grey" th:text="'['+${quizList.success_y} + ':' + ${quizList.success_n}+']'"></span>
                <span th:if="${quizList.pattern_code_name != '예외처리'}" th:text="'['+${quizList.success_y} + ':' + ${quizList.success_n}+']'"></span>
                <a class="link-light" target="_blank"
                   th:if="${quizList.pattern_code_name == '예외처리'}" style="color:grey"
                   th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                   th:utext="'[' + ${quizList.doc_code_name} +'] '+${quizList.quiz_org_number}"/>
                <a class="link-light" target="_blank"
                   th:if="${quizList.pattern_code_name != '예외처리'} and ${quizList.success_y <= quizList.success_n} and ${quizList.success_n} > 0" style="color:red"
                   th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                   th:utext="'[' + ${quizList.doc_code_name} +'] '+${quizList.quiz_org_number}"/>
                <a class="link-light" target="_blank"
                   th:if="${quizList.pattern_code_name != '예외처리'} and ${quizList.success_y > quizList.success_n}"  style="color:blue"
                   th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                   th:utext="'[' + ${quizList.doc_code_name} +'] '+${quizList.quiz_org_number}"/>
                <a class="link-light" target="_blank"
                   th:if="${quizList.pattern_code_name != '예외처리'} and ${quizList.success_y}==0 and ${quizList.success_n}==0 " style="color:green"
                   th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                   th:utext="'[' + ${quizList.doc_code_name} +'] '+${quizList.quiz_org_number}"/>
                <span th:if="${quizList.today_yn > 0}">🟢</span>
            </td>
            <td style="font-size: 12px" th:utext="${quizList.quiz_memo}">퀴즈메모</td>
            <td style="text-align: center" th:if="${quizList.pattern_code_name == '예외처리'}" th:utext="''">문제패턴</td>
            <td style="text-align: center" th:if="${quizList.pattern_code_name == '개념이해'}"></td>
            <td style="text-align: center" th:if="${quizList.pattern_code_name != '개념이해'} and
            ${quizList.pattern_code_name != '예외처리'}" th:text="${quizList.pattern_code_name}">문제패턴</td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>