<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}" lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>퀴즈</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <style>
        img {
            max-width: 100%;
            height: auto !important;
        }

        .nounderline {
            text-decoration: none !important;
            color: black;
        }

        a:link {
            color: black;
            text-decoration: none;
        }

        a:visited {
            color: black;
            text-decoration: none;
        }

        a:hover {
            color: black;
            text-decoration: underline;
        }

        a:active {
            color: black;
            text-decoration: none;
        }
        /* for block of code */
        .hljs-ln td {
            padding-right: 10px;
        }
        code, kbd, pre, samp {
            font-family: "JetBrains Mono";
            font-size: 0.8em;
            direction: ltr;
            unicode-bidi: bidi-override;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/go.min.js"></script>
    <script>hljs.highlightAll();hljs.initLineNumbersOnLoad();</script>
</head>
<body>
<div layout:fragment="content" class="content" th:object="${quizModel}">
    <!-- 문제 해설 Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">문제해설</h4>
                    <button type="button" class="btn-close" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body" th:utext="${quizModel.quiz_desc}">...</div>
                <div class="modal-footer">
                    <a class="btn btn-success" role="button"
                       th:href="'/quiz/edit/'+${quizModel.doc_code}+'/'+${quizModel.quiz_number}" target="_blank">편집</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <span class="badge rounded-pill bg-primary" style="cursor:pointer" onclick="openWindowPop()">문제해설</span> <span
            class="badge rounded-pill bg-secondary">문제통계</span> <span
            class="badge rounded-pill bg-success" style="cursor:pointer" onclick="quiz_boorkmark()">북마크</span> <span
            class="badge rounded-pill bg-warning"
            style="cursor:pointer" onclick="quiz_stat('X');">skip</span>
        <span
                class="badge rounded-pill bg-danger" style="cursor:pointer"
                th:onclick="'location.href=\'/quiz/list/'+@{${quizModel.quiz_source}}+'\''"
                th:utext="''+${quizModel.quiz_source_name}+ ': ['+${quizModel.category_name}+'] '+${quizModel.quiz_org_number}+'번'"></span>
        <span class="badge rounded-pill bg-info" style="cursor:pointer" onclick="openNext()">N</span>
        <select
                aria-label="문제패턴" id="pattern_code" th:name="pattern_code">
            <option th:each="val:${ptnCodeList}"
                    th:value="${val.code_id}"
                    th:selected="${val.code_id}==${quizModel.pattern_code}"
                    th:utext="${val.code_name}"></option>
        </select>&nbsp;<select
            aria-label="난이도" id="quiz_level" th:name="quiz_level">
        <option th:each="val:${lvlCodeList}"
                th:value="${val.code_id}"
                th:selected="${val.code_id}==${quizModel.quiz_level}"
                th:utext="${val.code_name}"></option>
    </select>&nbsp;&nbsp;<span
            class="badge rounded-pill bg-secondary" style="cursor:pointer" onclick="quiz_etc()">적용</span>
    </div>
    <hr/>
    <table class="table">
        <tr>
            <td><a class="nounderline"
                   th:href="'/quiz/edit/'+${quizModel.doc_code}+'/'+${quizModel.quiz_number}"
                   th:utext="${quizModel.quiz_org_number}+'. '"></a><a class="nounderline"
                                                                       th:href="'/index/'+${quizModel.doc_code}+'/'+${quizModel.quiz_number}"><span
                    th:utext="${quizModel.quiz_title}"></span></a>
            </td>
        </tr>
        <tr th:if="${quizModel.quiz_subtitle != null and quizModel.quiz_subtitle != '' } ">
            <td th:utext="${quizModel.quiz_subtitle}"></td>
        </tr>
    </table>
    <br>
    <table class="table table-striped">
        <th:block th:each="objectList:${objectList}">
            <tr>
                <td class="table-active" th:onclick="quiz_answer([[${objectList.quiz_object_num}]]);"
                    th:text="${objectList.quiz_object_num}+ ') '"
                    style="width: 2%; text-align: center; cursor: pointer;">번호
                </td>
                <td th:utext="${objectList.quiz_object_name}"
                    style="width: 98%;">문항
                </td>
            </tr>
        </th:block>
    </table>
    <div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide align-items-center text-white bg-primary border-0" role="alert"
             aria-live="assertive" aria-atomic="true"  data-bs-delay="1000">
            <div class="toast-header">
                <strong class="me-auto">알람</strong>
                <small></small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body"></div>
        </div>
    </div>
    <div><span id="keyword_icon"
               class="badge rounded-pill bg-secondary" style="cursor:pointer">키워드</span>
        <span id="keyword_list"></span>
        <!--
        <th:block th:each="quizDocumentModelList,index : ${quizDocumentModelList}">
            <a th:href="'/doc/'+${quizDocumentModelList.doc_name}" target="_blank"> <span
                    th:text="${quizDocumentModelList.doc_name}"></span></a>&nbsp;
        </th:block>-->
    </div>
    <br/>
    <div id="keyword_button" class="input-group mb-3 invisible">
        <input type="text" id="doc_search" class="form-control" placeholder="키워드명" aria-label="키워드명"
               aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="btn_doc_add">키워드 등록</button>
    </div>
    <script>
        $(document).ready(function() {
            $('code.hljs').each(function(i, block) {
                hljs.lineNumbersBlock(block);
            });
        });
        $('#keyword_icon').click(function () {
            $('#keyword_button').removeClass('invisible');
            $('#keyword_button').addClass('visible');
            return false;
        });

        $('#btn_doc_add').click(function () {
            $.ajax({
                type: "POST",
                url: "/docAdd",
                beforeSend: function (jqXHR, settings) {
                    let header = $("meta[name='_csrf_header']").attr("content");
                    let token = $("meta[name='_csrf']").attr("content");
                    jqXHR.setRequestHeader(header, token);
                },
                data: {
                    "doc_name": $('#doc_search').val(),
                    "doc_code": '[[${quizModel.doc_code}]]',
                    "quiz_number": '[[${quizModel.quiz_number}]]'
                },
                success: function (data) {
                    let str = '';
                    let row_idx = 1;
                    $(data).each(function () {
                        str += '<a href="/doc/'+this.doc_name+'" target="_blank">'+ this.doc_name +'</a>&nbsp;&nbsp;&nbsp;';
                        row_idx++;
                    });
                    $("#keyword_list").empty();
                    $("#keyword_list").append(str);
                    $('#doc_search').val('');
                    document.getElementById("doc_search").focus();
                }, error: function () {
                    alert('실패');
                }
            });
        });
        let keyword_list = function() {
            $.ajax({
                type: "POST",
                url: "/quiz/doc/list",
                beforeSend: function (jqXHR, settings) {
                    let header = $("meta[name='_csrf_header']").attr("content");
                    let token = $("meta[name='_csrf']").attr("content");
                    jqXHR.setRequestHeader(header, token);
                },
                data: {
                    "doc_code": '[[${quizModel.doc_code}]]',
                    "quiz_number": '[[${quizModel.quiz_number}]]'
                },
                success: function (data) {
                    //document.location.reload();
                    let str = '';
                    let row_idx = 1;
                    $(data).each(function () {
                        str += '<a href="/doc/'+this.doc_name+'" target="_blank">'+ this.doc_name +'</a>&nbsp;&nbsp;&nbsp;';
                        row_idx++;
                    });
                    $("#keyword_list").empty();
                    $("#keyword_list").append(str);
                    document.getElementById("doc_search").focus();
                    //console.log(str);
                }, error: function () {
                    alert('실패');
                }
            });
        }
        let quiz_answer = function (answer) {
            let retV = "오답";
            let success_yn = "N";
            const dap = "[[${quizModel.quiz_answer}]]";
            const dap_arr = dap.split(',');
            if (dap_arr.length === 1) {
                if (answer === Number(dap_arr[0])) {
                    retV = "정답";
                    success_yn = "Y";
                }
            } else {
                for (let i = 0; i < dap_arr.length; i++) {
                    if (answer === Number(dap_arr[i])) {
                        retV = "[정답갯수=" + dap_arr.length + "개 중]  정답";
                        success_yn = "Y";
                    }
                }
            }
            if (retV === "오답") {
                toastAlert(retV, 1);
            } else {
                toastAlert(retV, 0);
            }
            quiz_stat(success_yn);
        }

        let quiz_stat = function (success_yn) {
            $.ajax({
                type: "POST",
                url: "/quiz_stat_insert",
                beforeSend: function (jqXHR, settings) {
                    let header = $("meta[name='_csrf_header']").attr("content");
                    let token = $("meta[name='_csrf']").attr("content");
                    jqXHR.setRequestHeader(header, token);
                },
                data: {
                    "success_yn": success_yn,
                    "doc_code": '[[${quizModel.doc_code}]]',
                    "quiz_number": '[[${quizModel.quiz_number}]]'
                },
                success: function () {
                    if (success_yn === 'X') {
                        toastAlert("skip 저장", 0);
                    }
                }, error: function () {
                    toastAlert('저장 실패', 1);
                }
            });
        }

        let quiz_boorkmark = function () {
            $.ajax({
                type: "POST",
                url: "/quiz_bookmark_insert",
                beforeSend: function (jqXHR, settings) {
                    let header = $("meta[name='_csrf_header']").attr("content");
                    let token = $("meta[name='_csrf']").attr("content");
                    jqXHR.setRequestHeader(header, token);
                },
                data: {
                    "doc_code": '[[${quizModel.doc_code}]]',
                    "quiz_number": '[[${quizModel.quiz_number}]]'
                },
                success: function () {
                    toastAlert("북마크 저장", 0);
                }, error: function () {
                    toastAlert("북마크 실패", 1);
                }
            });
        }

        let quiz_etc = function () {
            let pattern_code = $("#pattern_code option:selected").val();
            let quiz_level = $("#quiz_level option:selected").val();
            $.ajax({
                type: "POST",
                url: "/quiz_etc_update",
                beforeSend: function (jqXHR, settings) {
                    let header = $("meta[name='_csrf_header']").attr("content");
                    let token = $("meta[name='_csrf']").attr("content");
                    jqXHR.setRequestHeader(header, token);
                },
                data: {
                    "doc_code": '[[${quizModel.doc_code}]]',
                    "quiz_number": '[[${quizModel.quiz_number}]]',
                    "pattern_code": pattern_code,
                    "quiz_level": quiz_level
                },
                success: function () {
                    toastAlert("퀴즈 난이도/패턴 저장", 0);
                }, error: function () {
                    toastAlert("퀴즈 난이도/패턴 실패", 1);
                }
            });
        }
        let openNext = function () {
            let nextNumber = [[${quizModel.quiz_number}]] + 1;
            let nextUrls = "/index/[[${quizModel.doc_code}]]/" + nextNumber;
            document.location.href = nextUrls;
        }
        let openWindowPop = function () {
            let urls = "/quiz/desc/[[${quizModel.doc_code}]]/[[${quizModel.quiz_number}]]";
            let options = 'top=10, left=10, width=500, height=600, status=no, menubar=no, toolbar=no, resizable=yes';
            window.open(urls, "description", options);
        }
        keyword_list();
    </script>
</div>
</body>
</html>