<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}" lang="ko">

<head>
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title>퀴즈</title>
    <style>
        img {
            width: 600px;
            height:auto !important;
        }
        .nounderline {
            text-decoration: none !important;
            color: black;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="content" th:object="${quizModel}">
    <!-- 문제 해설 Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">문제해설</h4>
                    <button type="button" class="btn-close" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body" th:utext="${quizModel.quiz_desc}">...</div>
                <div class="modal-footer">
                    <a class="btn btn-success" role="button"
                       th:href="'/quiz/edit/'+${quizModel.doc_code}+'/'+${quizModel.quiz_number}" target="_blank">편집</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div>
			<span class="badge rounded-pill bg-primary" style="cursor:pointer" onclick="openWindowPop()">문제해설</span> <span
            class="badge rounded-pill bg-secondary">문제통계</span> <span
            class="badge rounded-pill bg-success">메모내용</span> <span
            class="badge rounded-pill bg-danger"
            th:utext="'출처: '+${quizModel.quiz_source_name}+ ' '+${quizModel.quiz_org_number}+'번'"></span>
    </div>
    <hr/>
    <table class="table">
       <tr>
            <td><a class="nounderline"
                   th:href="'/quiz/edit/'+${quizModel.doc_code}+'/'+${quizModel.quiz_number}"
                   th:utext="${quizModel.quiz_org_number}"></a><span th:utext="'. '+${quizModel.quiz_title}"></span></td>
        </tr>
        <tr th:if="${quizModel.quiz_subtitle != null and quizModel.quiz_subtitle != '' } ">
            <td th:utext="${quizModel.quiz_subtitle}"></td>
        </tr>
    </table>
    <br>
    <table class="table table-striped">
        <th:block th:each="objectList:${objectList}">
            <tr>
                <td class="table-active" th:onclick="quiz_answer([[${objectList.quiz_object_num}]]);"
                    th:text="${objectList.quiz_object_num}+ ') '"
                    style="width: 2%; text-align: center; cursor: pointer;">번호
                </td>
                <td th:utext="${objectList.quiz_object_name}"
                        style="width: 98%;">문항
                </td>
            </tr>
        </th:block>
    </table>
    <script>
        let quiz_answer = function (answer) {
            if (answer === [[${quizModel.quiz_answer}]]) {
                alert("정답");
            } else {
                alert("오답");
            }
        }

        let openWindowPop = function() {
            let urls = "/quiz/desc/[[${quizModel.doc_code}]]/[[${quizModel.quiz_number}]]";
            let options = 'top=10, left=10, width=500, height=600, status=no, menubar=no, toolbar=no, resizable=yes';
            window.open(urls, "description", options);
        }
    </script>
</div>
</body>
</html>