<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}" lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>퀴즈</title>
    <style>
        img {
            width: 600px;
            height:auto !important;
        }
        .nounderline {
            text-decoration: none !important;
            color: black;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="content" th:object="${quizModel}">
    <!-- 문제 해설 Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">문제해설</h4>
                    <button type="button" class="btn-close" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body" th:utext="${quizModel.quiz_desc}">...</div>
                <div class="modal-footer">
                    <a class="btn btn-success" role="button"
                       th:href="'/quiz/edit/'+${quizModel.doc_code}+'/'+${quizModel.quiz_number}" target="_blank">편집</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div>
			<span class="badge rounded-pill bg-primary" style="cursor:pointer" onclick="openWindowPop()">문제해설</span> <span
            class="badge rounded-pill bg-secondary">문제통계</span> <span
            class="badge rounded-pill bg-success">메모내용</span> <span
            class="badge rounded-pill bg-danger"
            th:utext="''+${quizModel.quiz_source_name}+ ': ['+${quizModel.category_name}+'] '+${quizModel.quiz_org_number}+'번'"></span>
    </div>
    <hr/>
    <table class="table">
       <tr>
            <td><a class="nounderline"
                   th:href="'/quiz/edit/'+${quizModel.doc_code}+'/'+${quizModel.quiz_number}"
                   th:utext="${quizModel.quiz_org_number}"></a><span th:utext="'. '+${quizModel.quiz_title}"></span></td>
        </tr>
        <tr th:if="${quizModel.quiz_subtitle != null and quizModel.quiz_subtitle != '' } ">
            <td th:utext="${quizModel.quiz_subtitle}"></td>
        </tr>
    </table>
    <br>
    <table class="table table-striped">
        <th:block th:each="objectList:${objectList}">
            <tr>
                <td class="table-active" th:onclick="quiz_answer([[${objectList.quiz_object_num}]]);"
                    th:text="${objectList.quiz_object_num}+ ') '"
                    style="width: 2%; text-align: center; cursor: pointer;">번호
                </td>
                <td th:utext="${objectList.quiz_object_name}"
                        style="width: 98%;">문항
                </td>
            </tr>
        </th:block>
    </table>
    <script>
        let quiz_answer = function (answer) {
            let retV = "오답";
            const dap = "[[${quizModel.quiz_answer}]]";
            const dap_arr = dap.split(',');
            if (dap_arr.length === 1) {
                if (answer === Number(dap_arr[0])) {
                    retV = "정답";
                }
            }
            else {
                for(let i=0; i<dap_arr.length;i++){
                     if (answer === Number(dap_arr[i])) {
                          retV = "[정답갯수="+dap_arr.length+"개 중]  정답";
                      }
                }
            }
              alert(retV);
        }

        function quiz_stat(success_yn) {
            $.ajax({
                type: "POST",
                url: "/quiz_stat_insert",
                beforeSend: function (jqXHR, settings) {
                    let header = $("meta[name='_csrf_header']").attr("content");
                    let token = $("meta[name='_csrf']").attr("content");
                    jqXHR.setRequestHeader(header, token);
                },
                data: {
                    "success_yn": success_yn,
                    "doc_code": '[[${quizModel.doc_code}]]',
                    "quiz_number": '[[${quizModel.quiz_number}]]'
                },
                success: function () {
                    console.log('성공');
                }, error: function () {
                    console.log('실패');
                }
            });
        }


        let openWindowPop = function() {
            let urls = "/quiz/desc/[[${quizModel.doc_code}]]/[[${quizModel.quiz_number}]]";
            let options = 'top=10, left=10, width=500, height=600, status=no, menubar=no, toolbar=no, resizable=yes';
            window.open(urls, "description", options);
        }
    </script>
</div>
</body>
</html>