<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}" lang="ko">
<head>
    <title>문제목록</title>
<body>
<div layout:fragment="content" class="content">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">출처</span> <select
            class="form-select" aria-label="출처1" th:name="quiz_source"
            th:id="quiz_source">
        <option th:each="src:${srcCodeList}" th:value="${src.code_id}"
                th:selected="${src.code_id} == ${session.quiz_source}"
                th:utext="${src.code_name}"></option>
    </select>
        <button class="btn btn-outline-secondary" type="button"
                id="srcSelector" onclick="moveSource()">선택
        </button>&nbsp;
        <button class="btn btn-outline-warning" type="button"
                id="srcRegister" onclick="moveRegister()">신규등록
        </button> &nbsp;
        <button type="button" class="btn btn-outline-dark" onclick="location.href='/sys/index'">코드관리</button>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" id="quiz_title" placeholder="Search..." aria-label="Search">
        </form>
        <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2" onclick="moveSearch()">검색</button>
        </div>
    </div>
    <div>
        <span class="badge rounded-pill bg-primary" style="cursor:pointer" onclick="openWindowPop()">북마크목록</span> <span
            class="badge rounded-pill bg-secondary">오늘목록</span> <span
            class="badge rounded-pill bg-success" style="cursor:pointer" onclick="quiz_boorkmark()">안푼목록</span>
     </div>
    <div style="width:20%;float:left;">
        <table class="table table-dark">
            <tbody>
            <tr th:each="quizList : ${quizList}" th:if="${quizList.doc_code}==2 or ${quizList.doc_code}==3">
                <td><a class="link-light"
                       th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}"
                       th:text="'[' + ${quizList.category_name} +'] '+${quizList.quiz_org_number}"/>
                    &nbsp;&nbsp;<a class="link-light"
                                   th:href="'/quiz/edit/'+${quizList.doc_code}+'/'+${quizList.quiz_number}">[편집]</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="width:100%;float:left;">
        <table class="table table-dark">
            <tbody>
            <tr th:each="quizList : ${quizList}">
                <td><a class="link-light" target="_blank" th:href="@{'/index/'+${quizList.doc_code}+'/'+${quizList.quiz_number}}" th:text="${quizList.quiz_title}"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javaScript">
        let moveSource = function () {
            let quiz_source = $("#quiz_source option:selected").val();
            document.location.href = "/quiz/list/" + quiz_source;
        }
        let moveRegister = function () {
            document.location.href = "/quiz/write";
        }
        let moveSearch = function () {

            location.href="/quiz/search/"+($("#quiz_title").val());
        }
    </script>
</div>
</body>

</html>