<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}" lang="ko">
<title>문제등록</title>
<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
</head>
<body>
<div layout:fragment="content" class="content">
    <div id="loader">
        <div
                class="spinner-border text-info position-absolute top-50 start-50"
                role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <script>
        function insert() {
            if (document.forms["insertForm"]["quiz_answer"].value === "") {
                alert("문제정답을 입력하세요.");
                document.forms["insertForm"]["quiz_answer"].focus();
                return false;
            }
            let doc_code = document.getElementById("doc_code");
            if (doc_code.options[doc_code.selectedIndex].value === '1') {
                alert("문서분류를 선택해 주세요");
                return false;
            }

            document.getElementById("insertForm").submit();
        }
    </script>
    <form th:action="@{/quiz/insert}" th:object="${quizModel}"
          id="insertForm" name="insertForm" method="POST" class="row gx-3 gy-2 align-items-center">
        <input type="hidden" id="quiz_code" name="quiz_code" value="2"><!-- 문항방식 -->
        <input type="hidden" id="pattern_code" name="pattern_code" value="6"><!-- 문제패턴 -->
        <input type="hidden" id="quiz_level" name="quiz_level" value="10"><!-- 난이도 -->
        <input type="hidden" id="quiz_number" name="quiz_number" th:value="${quizNumber}">
        <div class="col-sm-3">
            <label class="visually-hidden" for="specificSizeInputGroupUsername">문제정답</label>
            <div class="input-group">
                <div class="input-group-text">문제정답</div>
                <input type="text" class="form-control" id="quiz_answer" name="quiz_answer">
            </div>
        </div>
        <div class="col-sm-3">
            <label class="visually-hidden" for="specificSizeInputGroupUsername">출처</label>
            <div class="input-group">
                <div class="input-group-text">출처</div>
                <select
                        class="form-select" aria-label="출처" th:name="quiz_source" th:id="quiz_source">
                    <option th:each="srcs:${srcCodeList}"
                            th:value="${srcs.code_id}" th:utext="${srcs.code_name}"
                            th:selected="${srcs.code_id}==${session.quiz_source}"></option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <label class="visually-hidden" for="specificSizeInputGroupUsername">기존번호</label>
            <div class="input-group">
                <div class="input-group-text">기존번호</div>
                <input type="text" class="form-control" id="quiz_org_number" name="quiz_org_number"
                       th:value="${session.quiz_org_number}">
            </div>
        </div>
        <div class="col-sm-3">
            <label class="visually-hidden" for="specificSizeInputGroupUsername">문서분류</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon2">문서분류</span> <select
                    class="form-select" aria-label="문서분류" th:id="doc_code" th:name="doc_code">
                <option th:each="val:${docCatehogryList}"
                        th:value="${val.doc_code}" th:utext="${val.category_name}"
                        th:selected="${val.doc_code==session.doc_code}"></option>
            </select>
            </div>
        </div>
        <div class="mb-3">
				<textarea name="quiz_title" id="quiz_title" class="ck_editor_txt"
                          placeholder="문제 제목을 적으세요."></textarea>
        </div>
        <div class="mb-3">
				<textarea name="quiz_subtitle" id="quiz_subtitle"
                          class="ck_editor_txt" placeholder="문제 설명을 적으세요."></textarea>
        </div>
        <div class="col-sm-3 w-100">
            <label class="visually-hidden" for="specificSizeInputGroupUsername">원본이미지</label>
            <div class="input-group">
                <div class="input-group-text">원본이미지</div>
                <input type="text" placeholder="구글드라이브 경로" class="form-control" id="img_url" name="img_url"
                       onclick="this.value='';document.getElementById('img_target').value=''"/>
                <button class="btn btn-success me-md-2" type="button" id="img_copy" data-clipboard-target="#img_target"
                        onclick="img_convert();">복사
                </button>
                <div class="input-group-text">수정이미지</div>
                <input type="text" class="form-control w-25" id="img_target" name="img_target"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <textarea name="quiz_object_name" id="quiz_object_name" placeholder="1번 문항"
                          class="ck_editor_txt"></textarea>
            </div>
            <div class="col">
                <textarea name="quiz_object_name" id="quiz_object_name" placeholder="2번 문항"
                          class="ck_editor_txt"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <textarea name="quiz_object_name" id="quiz_object_name" placeholder="3번 문항"
                          class="ck_editor_txt"></textarea>
            </div>
            <div class="col">
                <textarea name="quiz_object_name" id="quiz_object_name" placeholder="4번 문항"
                          class="ck_editor_txt"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="input-group-text" id="basic-addon9">관련문서</span>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">&nbsp;</th>
                        <td><input type="text" id="doc_search" class="form-control"></td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" id="btn_doc_add">추가</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table" id="doc_table">
                    <tbody>
                    <th:block th:each="quizDocumentModelList,index : ${quizDocumentModelList}">
                        <tr>
                            <th th:text="${index.index+1}" scope="row">번호</th>
                            <td th:text="${quizDocumentModelList.doc_name}">문서명
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm" id="btn_doc_del"
                                        th:myName="${quizDocumentModelList.doc_name}"
                                        th:onclick="doc_del(this.getAttribute('myName'))">삭제
                                </button>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button class="btn btn-primary me-md-2" type="button"
                    onclick="insert();">등록하기
            </button>
            <!--<a class="btn btn-primary" href="/index" role="button">취소하기</a>
            <button class="btn btn-secondary me-md-2" type="button"
                    onclick="google_img();">구글이미지
            </button>-->
        </div>
        <!--
        <div class="row">
            <div class="col">
                <span class="input-group-text" id="basic-addon8">5)번</span>
                <textarea name="quiz_object_name" id="quiz_object_name"
                          class="ck_editor_txt"></textarea>
            </div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon11">문제해설</span>
            <textarea name="quiz_desc" id="quiz_desc"
                      class="ck_editor_txt" placeholder="문제 해설을 적으세요."></textarea>
        </div>
        -->
    </form>
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script
            src="https://releases.jquery.com/git/ui/jquery-ui-git.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="/js/ckeditor5-31/quiz/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script>
        $(window).on('load', function () {
            $('#loader').hide();
        });
        let allEditors = document.querySelectorAll('.ck_editor_txt');
        for (let i = 0; i < allEditors.length; ++i) {
            ClassicEditor.create((allEditors[i]),
                {
                    link: {
                        addTargetToExternalLinks: true
                    },
                    codeBlock: {
                        languages: [
                            { language: 'plaintext', label: 'Plain text' }, // The default language.
                            { language: 'java', label: 'Java' },
                            { language: 'sql', label: 'SQL' },
                            { language: 'c', label: 'C' },
                            { language: 'cpp', label: 'C++' },
                            { language: 'javascript', label: 'JavaScript' },
                            { language: 'xml', label: 'XML' },
                            { language: 'html', label: 'HTML' },
                            { language: 'css', label: 'CSS' },
                            { language: 'python', label: 'Python' }

                        ]
                    }
                })
                .then(newEditor => {
                    editr = newEditor;
                })
                .catch(error => {
                    console.log(error);
                });
        }

        // 정답 미리 가져오기
        function pre_answer() {
            let doc_code = $("#doc_code option:selected").val();
            let quiz_org_number = $('#quiz_org_number').val();
            let quiz_source = $("#quiz_source option:selected").val();

            $.ajax({
                type: "POST",
                url: "/pre_answer",
                beforeSend: function (jqXHR, settings) {
                    let header = $("meta[name='_csrf_header']").attr("content");
                    let token = $("meta[name='_csrf']").attr("content");
                    jqXHR.setRequestHeader(header, token);
                },
                data: {
                    "doc_code": doc_code,
                    "quiz_org_number": quiz_org_number,
                    "quiz_source": quiz_source
                },
                success: function (data) {
                    document.getElementById("quiz_answer").value = data;
                }, error: function (request, status, error) {
                    console.log("code:" + request.status + "\n");
                    console.log("message:" + request.responseText + "\n");
                    console.log("error:" + error);
                }
            });
        }
        //다량 등록 시, 미리 저장한 정답을 가져오는 것
        pre_answer();


        function doc_del(doc_name) {
            $.ajax({
                type: "POST",
                url: "/docDel",
                beforeSend: function (jqXHR, settings) {
                    let header = $("meta[name='_csrf_header']").attr("content");
                    let token = $("meta[name='_csrf']").attr("content");
                    jqXHR.setRequestHeader(header, token);
                },
                data: {
                    "doc_name": doc_name,
                    "doc_code": $('#doc_code').val(),
                    "quiz_number": $('#quiz_number').val()
                },
                success: function () {
                    doc_reload();
                }, error: function () {
                    alert('실패');
                }
            });
        }

        $('#btn_doc_add').click(function () {
            $.ajax({
                type: "POST",
                url: "/docAdd",
                beforeSend: function (jqXHR, settings) {
                    let header = $("meta[name='_csrf_header']").attr("content");
                    let token = $("meta[name='_csrf']").attr("content");
                    jqXHR.setRequestHeader(header, token);
                },
                data: {
                    "doc_name": $('#doc_search').val(),
                    "doc_code": $('#doc_code').val(),
                    "quiz_number": $('#quiz_number').val()
                },
                success: function () {
                    doc_reload();
                }, error: function () {
                    alert('실패');
                }
            });
        });

        function doc_reload() {
            let doc_code = $('#doc_code').val();
            let quiz_number = $('#quiz_number').val();

            $.ajax({
                type: "POST",
                url: "/quiz/doc/list",
                beforeSend: function (jqXHR, settings) {
                    let header = $("meta[name='_csrf_header']").attr("content");
                    let token = $("meta[name='_csrf']").attr("content");
                    jqXHR.setRequestHeader(header, token);
                },
                data: {
                    "doc_name": $('#doc_name').val(),
                    "doc_code": $('#doc_code').val(),
                    "quiz_number": $('#quiz_number').val()
                },
                success: function (data) {

                    let str = '<tr>';
                    let row_idx = 1;
                    $(data).each(function () {
                        str += '<th scope="row">' + row_idx + '</th>';
                        str += '<td>' + this.doc_name + '</td>';
                        str += '<td><button type="button" class="btn btn-secondary btn-sm" onclick=doc_del("' + this.doc_name + '")>삭제</button>';
                        str += '</td></tr>';
                        row_idx++;
                    });

                    $("#doc_table").empty();
                    $("#doc_table").append(str);
                }, error: function (request, status, error) {
                   // console.log("code:" + request.status + "\n");
                   // console.log("message:" + request.responseText + "\n");
                   // console.log("error:" + error);
                }
            });
        }
    </script>
    <script src="/js/google_image.js"></script>
</div>
</body>
</html>